.home-container {
  display: block;
  flex-direction: column;
  justify-content: center;
  background-color: #cd8e8e;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  padding: 2vw;
  margin: 5vh;
}
.welcome-msg {
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: white;
}

.app-description {
  display: flex;
  flex-direction: column;
  color: white;
  padding-bottom: 50px; 
}

.one {
  font-size: x-large;
  margin-bottom: 10px;
}

.two {
  font-size: large;
  margin-bottom: 10px;
}

.three {
  font-size: x-large;
  margin: 20px 0 20px 0;
}

.four {
  font-size: large;
  line-height: 25px;
  padding: 0 70px 0 70px;
}