.home-container {
  display: block;
  flex-direction: column;
  justify-content: center;
  /* flex-direction: column;
  align-self: center; */
  /* background-image: url(../assets/monitor.png); */
  /* background-repeat: no-repeat; */
  background-color: black;
  /* background-size: cover; */
  /* shape-image-threshold: inherit; */
  width: 90%;
  height: 90%;
  border-radius: 10px;
  padding: 2vw;
  margin: 5vh;
}
.welcome-msg {
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: white;
}

.app-description {
  display: flex;
  flex-direction: column;
  color: white;
}

.one {
  font-size: x-large;
  /* margin-inline-start: 10px; */
  margin-bottom: 10px;
}

.two {
  font-size: large;
  margin-bottom: 10px;
}

.three {
  font-size: x-large;
  margin: 20px 0 20px 0;
}

.four {
  font-size: medium;
  line-height: 25px;
  /* margin-bottom: 30px; */
}