nav {
  background-color:#161313;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-weight: bolder;
  font-size: 16px;
  border-radius: 6px;
  margin-bottom: 50px;
}

.nav-button {
  background: none;
  color: white;
  border: none;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.nav-button:focus {
  color: #66fdff;
}
.name-logo {
  display: flex;
  align-items: center;
  font-family: 'Oxygen Mono', monospace;
}

.logo {
  height: 45px;
  padding-left: 20px;
  /* -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear; */
}

.logo:hover {
  padding-right: 20px;
  -ms-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}